/* start nav style */
a {
  text-decoration: none;
  color: black;
}

/*nav {
  display: inline;
  position: fixed;
  z-index: 100;
  background-color: aqua;
  width: 100%;
  display: inline-block;
  padding: 5px 30px 5px 30px;
  flex-direction: row;
  margin-top: 0;
}

.top-icons{
  float: left;
}*/

nav {
  /*float: right;*/
  padding-right: 60px;
  padding-left: 20px;
  border-bottom: 1px solid rgba(194, 194, 194, 0.644);
  position: fixed;
  background-color: white;
  z-index: 100;
  right: 0;
  left: 0;
}

.space-cosmos {
  font-size: 0.9em;
  font-weight: bold;
}

.cont-img {
  text-align: center;
  width: 1300px;
}

.nyt-logo {
  width: 200px;
  /*position: relative;
  left: 45%;*/
}

#btn {
  text-align: right;
}

.nav-buttons {
  border-radius: 0;
  background-color: #567b95;
  border-style: none;
  border: #326891 1px solid;
  padding: 6px;
  color: white;
}

li {
  display: inline-block;
  vertical-align: middle;
  font-family: "Times New Roman", Times, serif;
}

body {
  margin: 0;
  /*padding: 0 20px 20px 20px;*/
}

main {
  width: 100%;
  height: 1000px; /*100px*/
  position: relative;
  padding-top: 65px;
}

.social-media {
  width: 20px;
  padding-left: 5px;
}

h1 {
  text-align: center;
}

.main-top {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  max-height: 725px;
  position: relative;
  /*left: 15%;*/
}

#top-image {
  width: 100%;
}

.fig-caption {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  color: #666666;
}

.fig-caption-source {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  color: #888888;
}

.text-image {
  width: 850px;
}

#bookmark {
  background-image: url(resources/bookmark.png);
  background-size: 20px;
  width: 20px;
  height: 30px;
  margin-left: 5px;
  position: relative;
  bottom: 10px;
}

#comments {
  background-image: url(resources/comment.png);
  font-size: 8px;
  background-size: 50px;
  width: 35px;
  height: 25px;
  position: relative;
  bottom: 7px;
}

.back-img {
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding: 0;
}

#info-top {
  width: 600px;
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.date-social-links {
  display: inline;
  vertical-align: middle;
}

.links-media {
  float: right;
  /*display: flex;
  align-items: center;*/
  height: 15px;
}

#date-top {
  font-size: 13px;
  position: relative;
  bottom: 2px;
}

#article-writer {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

.paragraph-centered {
  width: 600px;
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}

p {
  line-height: 1.875rem;
}

.editors-pick {
  width: 200px;
  position: absolute;
  right: 100px;
  bottom: -800px;
}

.img-editors-pick {
  width: 40%;
}

.text-editors-pick {
  width: 50%;
  display: inline-block;
  font-size: 0.8em;
  text-align: center15;
}
/*
.cont-editors-pick{
  width: inherit;
  height: 66px;
}*/

#inflation-top-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  color: #666666;
  width: 945px;
  line-height: normal;
}

.inflation-theory-article {
  width: 945px;
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#inflation-backg-image {
  background-image: url(resources/background.png);
  background-size: 935px;
  width: 945px;
  height: 600px;
  background-repeat: no-repeat;
}
#inflation-ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 250px;
}

.inflation-li {
  display: inline-block;
  width: 23%;
  padding: 7px;
  font-size: 15px;
  vertical-align: top;
}

#inflation-ul2 {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 530px;
}

#inflation-footer-line {
  border-top: black 1px solid;
  padding: 10px 0 0 0;
  margin-bottom: 5px;
  width: 60px;
}

.inflation-footer-text {
  padding: 0;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  line-height: normal;
}

.standford-video-text {
  margin-right: 20px;
}

.bicep2-telescope {
  width: 720px;
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.bicep2-telescope-img {
  width: 100%;
}

#reprint-text {
  font-size: 12px;
  margin-bottom: 8px;
}

#reprint-text {
  font-size: 12px;
  margin-bottom: 8px;
}

#arcticle-down-button {
  width: 300px;
}

.button-links-media {
  display: inline;
  vertical-align: middle;
}
